<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnFGHTFdhnFBXHK1JTV7U5Vo1kXZAMwks</string>
	<key>GCM_SENDER_ID</key>
	<string>1032237653586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fpretell.innovafit</string>
	<key>PROJECT_ID</key>
	<string>nfc-gym</string>
	<key>STORAGE_BUCKET</key>
	<string>nfc-gym.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032237653586:ios:544e6ecdae7e1923ab898b</string>
</dict>
</plist>